<!DOCTYPE html>
{%  load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>나의 채팅방</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- menu -->
            {% include 'menu.html' %}
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                {% include 'navbar.html' %}
                <!-- Page content-->
                <div class="container-fluid">
                    <!-- 여기서 UI 작업-->
                    <h2>나의 채팅방 </h2>
                    <div class="list-group">
                        {% for item in data %}
                        <a href="/chat/chat_list/{{ item.chat_id }}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ item.chat.chat_name }}</h4>
                            <p class="list-group-item-text">인원수: {{item.chat.chat_people}}</p>
                            <p class="list-group-item-text">정보: {{item.chat.chat_info}}</p>
                            <p class="list-group-item-text">개설자: {{item.chat.user.user_nick}}</p>
                            <p class="list-group-item-text" name="chatNum" value="{{item.chat_id}}">채팅방 번호: {{item.chat_id}}</p>
                        </a> 
                        {% if request.session.user_id == item.chat.user_id %}
                            <button name = "del" type="button" style="background-color: red;" onclick="button_del({{item.chat_id}});" >채팅방 삭제</button>
                        {% else %}
                            <button name = "out" type="button"  onclick="button_out({{item.chat_id}});" >채팅방 나가기</button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function button_del(num) {
    var chat_id = num;    
    const data = axios({
        url: '/chat/chat_del/',
        method: 'get',
        params:{chat_id: chat_id},
   });
    data.then(function (result) {
        window.location.reload()
    });
    }

    function button_out(num) {
    var chat_id = num;    
    const data = axios({
        url: '/chat/chat_out/',
        method: 'get',
        params:{chat_id: chat_id},
   });
    data.then(function (result) {
        window.location.reload()
    });
    }
  
</script>



