<!DOCTYPE html>
{%  load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>취업 준비 게시판</title>
        <style>
            span{color:black}
            #board_title:hover{color:#23BDB7;}
            a{font-size:18px;}
        </style>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- menu -->
            {% include 'menu.html' %}
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                {% include 'navbar.html' %}
                <!-- Page content-->
                <div class="container-fluid">
                <!-- 여기서 UI 작업-->
                <div class="container-fluid">
                    <div style="font-size:40px;font-weight: 800; color:rgb(76, 76, 76); margin-left:150px;">
                        AIVLE 게시판
                    </div>
                        <!-- 카테고리 시작 -->
                        <header>
                            <div style="margin-top: 30px;">
                                <div style="display: inline-block;width:130px;height: 60px; border:none;margin-right:50px;margin-left:150px;" >
                                    <a style=" color:rgb(122, 115, 115);font-size: 25px; font-weight: 800;"href='http://127.0.0.1:8000/board_real/list'>전체</a>
                                </div> 
                                <div style="display: inline-block;width:130px;height: 60px; border:none;margin-right:50px;" >
                                    <a style=" color:rgb(122, 115, 115);font-size: 25px; font-weight: 800;"href='http://127.0.0.1:8000/board_real/free'>자유</a>
                                </div> 
                                <div style="display: inline-block;width:130px;height: 60px; border:none;margin-right:50px;" >
                                    <a style=" color:rgb(122, 115, 115);font-size: 25px; font-weight: 800;"href='http://127.0.0.1:8000/board_real/qna'>수업 QnA</a>
                                </div> 
    
                                <div style="text-decoration: underline; text-underline-position:under; display: inline-block;width:130px;height: 60px; border:none;margin-right:50px;" >
                                    <a style=" color:#23BDB7;font-size: 25px; font-weight: 800;"href='http://127.0.0.1:8000/board_real/job'>취업 준비</a>
                                </div> 
                            </div>
    
                            
                        </header>
                        <!-- 카테고리 끝 -->

                    <!-- 게시판 리스트 시작 -->
                    <div style="width:1710px;margin-left:150px;margin-top:50px;">
                        <table class="table">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th scope="col">번호</th>
                                    <th scope="col">제목</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col">작성일</th>
                                    <th scope="col">조회</th>
                                    <th scope="col">좋아요</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for board in job_list %}
                                <tr class="text-center">
                                    <th scope="row">
                                        {% if board.view_cnt > 20 %}
                                            <span>🔥&nbsp&nbsp</span>
                                        {% else %}
                                            <span>&nbsp&nbsp&nbsp&nbsp&nbsp<span>
                                        {% endif %}
                                        <span>
                                            {{ board.board_id }}
                                        </span>
                                        <span>
                                            {% if board.file_set.count %}
                                                <span>📁</span>
                                            {% else %}
                                                <span>&nbsp&nbsp&nbsp&nbsp&nbsp<span>
                                            {% endif %}
                                        </span>
                                
                                    </th>
                                    <td>
                                        <a href={% url "board_real:board_view" %}?id={{board.board_id}}>
                                            <span id="board_title">{{ board.board_title }}
                                                {% if board.reply_board_relations.count %}
                                                <span>[{{ board.reply_board_relations.count }}]</span>
                                                {% endif %}
                                            </span>
                                        </a>
                                    </td>
                                    <td><span>{{ board.user.user_nick }}</span></td>
                                    <td>
                                        <span>{{ board.board_reg_date | date:"Y-m-d h:i" }}</span>
                                    </td>
                                    <td><span>{{ board.view_cnt }}</span></td>
                                    <td><span>{{ board.board_like_cnt }}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                        <!-- 페이징처리 시작 -->
                        <ul class="pagination justify-content-center">
                            <!-- 이전페이지 -->
                            {% if job_list.has_previous %}
                            <a class="page-link" style="color:black;" href="?page=1">처음</a>
                            <li class="page-item">
                                <a class="page-link" style="color:black;" href="?page={{ job_list.previous_page_number }}">◀</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" style="color:black;" tabindex="-1" aria-disabled="true" href="#">◀</a>
                            </li>
                            {% endif %}
                            <!-- 페이지리스트 -->
                            {% for page_number in job_list.paginator.page_range %}
                            {% if page_number >= job_list.number|add:-5 and page_number <= job_list.number|add:5 %}
                                {% if page_number == job_list.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" style="color:black;" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link" style="color:black;" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                            <!-- 다음페이지 -->
                            {% if job_list.has_next %}
                            <li class="page-item">
                                <a class="page-link" style="color:black;" href="?page={{ job_list.next_page_number }}">▶</a>
                            </li>
                            <a class="page-link" style="color:black;" href="?page={{ job_list.paginator.num_pages }}">끝</a>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" style="color:black;" tabindex="-1" aria-disabled="true" href="#">▶</a>
                            </li>
                            {% endif %}
                        </ul>
                        <!-- 페이징처리 끝 -->

                        <!-- 글 작성 버튼 -->
                        <div class="row">
                            <div class="col-auto mr-auto"></div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary btn-lg" 
                                style="width:130px; height: 60px;background-color:#23BDB7 !important; border:none;" 
                                onclick="location.href='http://127.0.0.1:8000/board_real/post/'">글 작성</button>
                            </div>
                        </div>
                        <!-- 글 작성 버튼 끝 -->
                    </div>
                    <!-- 게시판 리스트 끝 -->

                </div>
            </div>
        </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js"></script>
    </body>
</html>

